<div class="mt-5 pt-5">
    <ul>
        {{#each messages as |message|}}
            <li>
                product: {{message.product.title}}
                from: {{message.from.name}}
                to: {{message.to.name}}
                message: {{message.message}}
            </li>
        {{/each}}
    </ul>
    <form  action="/users/{{to}}/chat" method="POST">
        <label name="message" id="message" type="text" class="label"></label>
        <input value="{{message.message}}" name="message" class="form-control" type="text" id="message" placeholder="Your Message Here">
        <br>
        <button type="submit" id="submit" class="btn btn-success">Send</button>
    </form>
</div>
<a href="/" class="btn btn-outline-success my-2 my-sm-0 rounded-pill align-right">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
    </svg>
    Go back</a>