<div class="mt-5 pt-5">
  <h2 class="display-1">New Product</h2>
  <form action="/products" method="POST">
    <div class="mb-3" style="width: 500px">
      <label for="image" class="form-label">Image</label>
      <input value="{{product.image}}" name="image" type="text" class="form-control {{#if errors.image}}is-invalid{{/if}}" id="Image">
    </div>
    <div class="mb-3" style="width: 500px">
      <label for="title" class="form-label">Title</label>
      <input value="{{product.title}}" name="title" class="form-control" type="text"  id="Title">
    </div>
    <div class="mb-3" style="width: 500px">
      <label for="user" class="form-label">User</label>
      <input value="{{product.user}}" name="user" class="form-control" type="text" id="User">
    </div>
    <div class="mb-3" style="width: 500px">
      <label for="price" class="form-label">Price</label>
      <input value="{{product.price}}" name="price" class="form-control" type="text" id="Price">
    </div>
    <div class="mb-3" style="width: 500px">
      <label for="description" class="form-label">Description</label>
      <input value="{{product.description}}" name="description" class="form-control" type="text" id="description">
    </div>
    <div class="form-group mb-3" style="width: 500px">
      <label for="category" class="form-label">Choose one category</label>
      <input value="{{product.category}}" name="category" class="form-control" type="text" id="Category">
         <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>bikes</option>
      <option>electronic</option>
      <option>fashion</option>
      <option>homeware</option>
      <option>music and books</option>
      <option>phones</option>
      <option>vehicles</option>
      

    </select>
    </div>
    <button type="submit" class="btn btn-primary btn-lg" class="border border-primary" style="background-color: #26BB98">Create</button>
  </form>
</div>