<div class="position-absolute start-50 translate-middle-x">
  <h2 class="display-1">Update<h2>
  <form action="/products/{{product.id}}" method="POST">
    <div class="mb-3" style="width: 500px">
      <label for="image" class="form-label">Image</label>
      <input value="{{product.image}}" name="image" class="form-control" type="text" id="Image">
    </div>
    <div class="mb-3" style="width: 500px">
      <label for="title" class="form-label">Title</label>
      <input value="{{product.title}}" name="title" class="form-control" type="text" id="Title">
    </div>
    <div class="mb-3" style="width: 500px">
      <label for="user" class="form-label">User</label>
      <input value="{{product.user}}" name="user" class="form-control" type="text" id="User">
    </div>
    <div class="mb-3" style="width: 500px">
      <label for="price" class="form-label">Price</label>
      <input value="{{product.price}}" name="price" class="form-control" type="text" id="Price">
    </div>
    <div class="mb-3" style="width: 500px">
      <label for="description" class="form-label">Description</label>
      <input value="{{product.description}}" name="description" class="form-control" type="text" id="description">
    </div>
    <div class="mb-3" style="width: 500px">
      <label for="category" class="form-label">Category</label>
      <input value="{{product.category}}" name="category" class="form-control" type="text" id="Category">
    </div>
    <button type="submit" class="btn btn-primary btn-lg" class="border border-primary" style="background-color: #26BB98">Update</button>
  </form>
</div>